body
{
    font-size: 1.2em;
    color: #aaa;
}

body a
{
    color: cornflowerblue;
}

body a:visited
{
    color: cornflowerblue;
}

.subtitle
{
    font-size: larger;
    font-weight: bolder;
    color: #bbb;
}

.paragraph
{
    margin-bottom: 1.4em;
}

.textbody
{
    font-size: smaller;
    text-align: justify;
}

.equation
{
    text-align: center;
    font-style: italic;
    margin-bottom: 1em;
}

table
{
    font-size: small;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

th
{
    font-size: smaller;
}

td.yes
{
    background-color: limegreen;
}

td.no
{
    background-color: orangered;
}
